---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About'>
  <p>Software Developer / HCI Researcher</p>
  <p>
    I am a 26' undergraduate student at <a href="https://www.nd.edu">the University of Notre Dame</a>, persuing <a href="https://cse.nd.edu/undergraduate/">B.S. in Computer Science</a> and <a href="https://acms.nd.edu/undergraduate/">ACMS(suppl.)</a>. 
    I have worked at <a href="https://toby.li/">SaNDwich Lab</a> at Notre Dame, advised by <a href="https://toby.li/">Prof. Toby Jia-Jun Li</a>. 
    This 2025 summer, I am working at <a href="https://cmu-spuds.github.io/cmu-spuds-web/">SPUD Lab</a> at Carnegie Mellon University, advised by <a href="https://sauvik.me/">Prof. Sauvik Das</a>.
  </p>
  <p>
    My research interest lies in the interaction of Usable Privacy and Security, LLM Social Simulation, and Human-Centered AI. Specifically, I aim to focus on:
      <li>(1) developing effective simulation techniques that faithfully model user intentions and reasoning within real-world tasks.</li>
      <li>(2) mitigating privacy concerns on simulation personas by reducing sensitive data disclosure and increasing transparency and user control.</li>
      <li>(3) building personalized LLM agents based on high-fidelity, privacy-preserving simulations.</li>
  </p>

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, vidit suscipit at mei.</li>
    <li>
      Quem denique mea id. Usu ei regione indoctum dissentiunt, cu meliore fuisset mei, vel quod
      voluptua ne.
    </li>
    <li>Ex dicat impedit mel, at eum oratio possit voluptatum.</li>
    <li>Impetus fuisset ullamcorper pri cu, his posse iisque ad, aliquam honestatis usu id.</li>
  </ul>

  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
</PageLayout>
