.about h1 {
    color: var(--black);
    text-align: center;
}
.about h2 {
    color: var(--black);
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center; 
}

.about h3 {
    text-align: center;
}

.about .links {
    font-size: medium;
    margin-bottom: 20px;
    padding: 5px;
    align-self: center;
    text-decoration: none;
    border: 1px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px var(--shadow);
    background-color: var(--grey);
    color:black;
}
.about .links:hover {
    background-color: grey;
}
.about p {
    margin-top: 10px; 
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    text-align: center;
}

.project {
    flex: 0 1 250px; 
    box-sizing: border-box;
    padding: 20px;
    min-width: 200px;
    border: 1.5px solid var(--shadow);
    border-radius: 8px; 
    background-color: var(--white); 
    margin-bottom: 3vh;
}
.img-container {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1.5px solid var(--shadow);
    border-radius: 8px; 
    background-color: var(--white); 
}
.tech-stack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 30px; 
}

.tech-stack {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; 
    width: 100px;
    box-sizing: border-box;
    border: 1.5px solid var(--shadow);
    border-radius: 8px; 
    background-color: var(--white); 
    text-align: center;
}

.tech-stack p {
    color: var(--black);
    font-size: medium;
    margin: 0; 
}

.img {
    width: 20vw;
    height: 20vh;
    border: 3px solid var(--titleColor);
    border-radius: 5%;
}
