.block {
    position: fixed;
    top: 12%;
    height: 80%;
    left: 0;
    width: 150px;
    padding: 10px; 
    text-align: center;
    border: 1px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px var(--shadow);
    overflow-y: auto;
    background-color: var(--bggrey);
}

.info {
    color:var(--textColor);
    margin-top: 10px;
}
.info h2 {
    font-size: 2em;
    margin-bottom: 40px; 
}

.round-image {
    width: 150px;
    height: 150px;
    border: 3px solid var(--titleColor);
    border-radius: 50%;
}
/* Styles for smaller screens (e.g., phones) */
@media only screen and (max-width: 600px) {
    .block {
        top: 16%;
        width: 100px; /* Adjust the width for smaller screens */
        border-radius: 20px; /* Adjust the border-radius for smaller screens */
        padding: 5px; /* Adjust padding for smaller screens */

    }

    .round-image {
        width: 100px; /* Adjust the width for smaller screens */
        height: 100px; /* Adjust the height for smaller screens */
        border-radius: 50%;
    }
    .info {
        font-size: 0.8em;
    }

    .info h2 {
        font-size: 1.5em; /* Adjust the font size for h2 on smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }
}