.block {
    position: fixed;
    top: 12%;
    height: 80%;
    left: 0;
    width: 150px;
    padding: 10px; 
    text-align: center;
    border: 1px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px var(--shadow);
    overflow-y: auto;
    background-color: var(--bggrey);
}

.info {
    color:var(--textColor);
    margin-top: 10px;
}
.info h2 {
    font-size: 2em;
    margin-bottom: 40px; 
}

.round-image {
    width: 150px;
    height: 150px;
    border: 3px solid var(--titleColor);
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .block {
        top: 16%;
        width: 100px; 
        border-radius: 20px; 
        padding: 5px; 

    }

    .round-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .info {
        font-size: 0.8em;
    }

    .info h2 {
        font-size: 1.5em; 
        margin-bottom: 20px; 
    }
}