---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
// import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'research', text: 'Research' },
  { depth: 2, slug: 'personal', text: 'Personal' },
  { depth: 2, slug: 'course', text: 'Course' },

]
---

<PageLayout title='Projects' {headings}>
  <p>Github Activities:</p>
  <picture>
    <source media="(prefers-color-scheme: dark)" srcset="https://raw.githubusercontent.com/Leoreoreo/Leoreoreo/output/github-contribution-grid-snake-dark.svg">
    <source media="(prefers-color-scheme: light)" srcset="https://raw.githubusercontent.com/Leoreoreo/Leoreoreo/output/github-contribution-grid-snake.svg">
    <img alt="github contribution grid snake animation" src="https://raw.githubusercontent.com/Leoreoreo/Leoreoreo/output/github-contribution-grid-snake.svg">
  </picture>

  <h2 id='research'>Research</h2>
  <ProjectSection
    projects={[
      {
        name: 'AROMA',
        description: 'AI assistant to support blind/low-vision cooks.',
        image: 'AROMA.png',
        links: [
          { type: 'github', href: 'https://github.com/Leoreoreo/Meeting_Assistant' },
          { type: 'doc', href: 'https://dl.acm.org/doi/10.1145/3746059.3747650' }
        ]
      },
      {
        name: 'Privacy Auditing Sandbox',
        description: 'End-user auditing of online content recommendations.',
        image: 'PrivacySandbox.png',
        links: [
          { type: 'github', href: 'https://github.com/Leoreoreo/A11yVate' },
          { type: 'doc', href: 'https://dl.acm.org/doi/10.1145/3746059.3747798' }
        ]
      }
    ]}
  />
  <h2 id='personal'>Personal</h2>
  <ProjectSection
    projects={[
      {
        name: 'MindEcho',
        description: 'Meeting assistant for the hearing-speaking disabled.',
        image: 'mindEcho.png',
        links: [
          { type: 'github', href: 'https://github.com/Leoreoreo/Meeting_Assistant' }
        ]
      },
      {
        name: 'A11yVate',
        description: 'Crowdsourcing campus info map for accessibility.',
        image: 'A11yVate.png',
        links: [
          { type: 'github', href: 'https://github.com/Leoreoreo/A11yVate' }
        ]
      },
      {
        name: 'This Website',
        description: 'My personal website build by astro.',
        image: 'astro.jpg',
        links: [
          { type: 'github', href: 'https://github.com/Leoreoreo/leoreoreo.github.io' },
          { type: 'site', href: 'https://leoreoreo.github.io' }
        ]
      }
    ]}
  />

  <h2 id='course'>Course</h2>
  <ProjectSection
    projects={[
      {
        name: 'P2P Hashtable',
        description: 'Scalabe and persistent distributed hashtable.',
        image: 'p2pHashTable.jpg',
        links: [
          { type: 'github', href: 'https://github.com/Leoreoreo/p2pHashtable' }
        ]
      },
      {
        name: 'Travel Itinerary Manager',
        description: 'A trip scheduling and planning assistant.',
        image: 'TIM.jpg',
        links: [
          { type: 'github', href: 'https://github.com/Leoreoreo/TravelItineraryManager' }
        ]
      },
      {
        name: 'SAT_Solver',
        description: 'Python implementation of NFA, regex, sed, Turing Machine, SAT.',
        image: 'satSolver.jpg',
        links: [
          { type: 'github', href: 'https://github.com/Leoreoreo/SAT_Solver' }
        ]
      },
      {
        name: 'The Kuiper Frontier',
        description: '2D plane-shooting game.',
        image: 'theKuiperFrontier.png',
        links: [
          { type: 'github', href: 'https://github.com/Leoreoreo/theKuiperFrontier' }
        ]
      }
    ]}
  />


</PageLayout>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
