@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --white:  rgb(255, 255, 255);
  --black:  rgb(0, 0, 0);
  --grey:   rgb(241, 241, 241);
  --bggrey: rgb(250, 250, 250);
  --shadow: rgb(180, 180, 180);
}
body {
  background: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--black);
}

.links {
  color: var(--black); 
}
.links:hover {
  color: var(--shadow);
}

.content {
  top: 12vh;
  position: fixed;
  right: 5vw;
  left: 200px;
  height: 80vh;
  padding: 15px;
  border: 1px;
  border-radius: 10px; 
  box-shadow: 0px 0px 10px 0px var(--shadow);
  overflow-y: auto;
  background-color: var(--bggrey);
}

@media only screen and (max-width: 600px) {
  .content {
      top: 16%;
      left: 130px;
      border-radius: 20px;
      padding: 5px;
  }
}
